<div class="container text-center mt-5 mb-5">
    <div class="col-12">
        <h1>All Categories</h1>
    </div>
</div>    

<div class="container text-center">
    <div class="col-12">
        <div class="parent">
            <ul>
            <% @categories.each do | c | %>
                <li>
                    <%= link_to c.name, category_show_path(c) %>
                </li>
            <% end %>
        </div>
        </ul>
    </div>
</div>
