<div class="container text-center mb-5">
    <h1>My Account Page</h1>
</div>

<div class="container">
    <p>
        View  all <%= @user.email %> listings:  <%= link_to "View All", user_listings_path(@user) %>
    </p>
</div>

