<h1>Welcome to BednBreakfast</h1>

<p>Click on this link to create a new account</p>

<%= link_to 'Create Account', new_user_registration_path %>

<p>Click here to Sign In</p>

<%= link_to 'Sign In', new_user_session_path  %>

<p>Click here to Log Out</p>

<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>