<div class="container text-center mt-5">
    <div class="col-12">
        <h5><%= link_to 'Host Sign In', new_user_session_path %></h5>

            or

        <h5><%= link_to 'Guest Sign In', new_guest_session_path %></h5>
    </div>
</div>